body{
    margin: 0px;
    background-color: #415A77;
    
   
}

.container-fluid{
    padding: 0px;
    
    
   
}

.header{
    height: 100px;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    color: white;
}

.input-text{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   background-color: #778DA9;
  
}

.input-container{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #778DA9;
}

.form-control{
    background-color: #E0E1DD;
}

.input1{
   
    width: 30%;
}

.input2{
    width: 30%;
}

.btn{
    background-color: #E0E1DD;
}

.map-container{
    /* margin-top: 10px; */
    max-height: 450px;
    
    
}


#sidebar{
    background-color: #E0E1DD;
    display: none;
}

.map{
    width: 100%;
    
}


.accordion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #415A77;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.footerContainer{
    /* position: relative; */
    min-height: 5vh;
    margin-top: 70px;
    /* display:flexbox; */
    
    
    

}

.footer{
    height: 100px;
    display: flex;
    padding-right: 50px;
    justify-content: end;
    align-items: center;
    background-color: #0D1B2A;
    color: white;
    bottom: 0;
    position: fixed;
    width:100%;
}
.social-icon{
    color: white;
    padding: 5px;
}

/* styling for the info card div */

#card-container{ 
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin: auto;
    /* padding-bottom: 20px; */
    align-items: center;
    background-color: #415A77;
}

.card-body{
    padding: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

img{
    border: none;
    border-radius: 2px;
    padding: 5px;
    width: 150px;
    height: 180px;
    object-fit: cover;
}

.card{
    min-height: 300px;
    background-color: #1B263B;
    color: white;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}

/*styling for weather*/
.weatherContainer{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding-top: 2%;
   padding-bottom: 2%;
   color: white
}

.weather-header{
    padding-top: 20px;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMcb0nyFRQpZUvkS8tw0K0qBjpa6a4VrEhEw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.card{
    padding: 5px 5px 5px 5px
}

.image img{
    max-width: 40px;
    max-height: 40px;
}