body{
    margin: 0px;
    background-color: #778DA9;
}

.container-fluid{
    padding: 0px;
}

.header{
    height: 25vh;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    color: white;
}

.input-text{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
  
}

.input-container{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.form-control{
    background-color: #E0E1DD;
}

.input1{
   
    width: 45%;
}

.input2{
    width: 45%;
}

.btn{
    background-color: #E0E1DD;
}

.map-container{
    margin-top: 10px;
}

.map{
    width: 100%;

}

.accordion-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;
}

.footer{
    height: 10vh;
    display: flex;
    padding-right: 50px;
    justify-content: end;
    align-items: center;
    background-color: #0D1B2A;
    color: white;
}
.social-icon{
    color: white;
    padding: 5px;
}

/* styling for the info card div */

#card-container{ 
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin: auto;
    padding-bottom: 20px;
    align-items: center;
    background-color: #415A77;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

img{
    border: none;
    border-radius: 2px;
    padding: 5px;
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.card{
    max-height: 290px;
    background-color: #1B263B;
    color: white;
}